export HDWALLET_MNEMONIC="gay sex is great for the gay boy jar poke wright kid"
export ROPSTEN_PROVIDER_URL='https://ropsten.infura.io/ild1zWlVfdU3u5Kcokny '
export RINKEBY_PROVIDER_URL='https://rinkeby.infura.io/ild1zWlVfdU3u5Kcokny '
